body {
    background-color: rgb(241, 241, 180);
    margin: 0;
    padding: 5;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
}

.calendar {
width: 98%;
margin: auto;
font-size: 13px;
}

.calendar tr, .calendar td {
border: 1px solid black;
}

.calendar th {
padding: 10px;
text-align: center;
font-size: 18px;
}

.calendar td {
width: 200px;
height: 150px;
padding: 20px 0px 0px 5px;
}

.month {
font-size: 25px;
}

.date {
font-size: 16px;
}

ul {
height: 100%;
padding: 0px 5px 0px 20px;
}

a {
color: #17a2b8;
}