{% extends "base.html" %}

{% block content %}
<main>
    {% if user.is_authenticated %}
    welcome to your page {{ user.username }}
    {% endif %}
    <div>
        <div class="card">
            <img src="https://www.jpjeunet.com/GB/wp-content/uploads/2014/12/BOB4-MMTL-Picture_0020.jpg" alt="Avatar" style="width:100%">
            <div class="container">
                <h4>
                    <b>{{ user.username }}</b>
                </h4>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>
                        body height
                    </th>
                    <th>
                        body weight
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {{ user.userprofile.height_in_feet }}
                    </td>
                    <td>
                        {{ user.userprofile.weight_lb }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</main>
{% endblock %}